{% extends "base.html" %}

{% block title %}All | Blogs{% endblock title %}

{% block navbar %} {% include "navbar.html" with is_authentiated=user.is_authenticated %} {% endblock navbar %}

{% block content %}

{% for blog in blogs %}
<div>
    <h1>{{ blog.title|capfirst }}</h1>
    <p>{{ blog.author|capfirst }} | {{ blog.created_on }}</p>
    <p>{{ blog.content|slice:"220" }}</p>
    <a href="{% url "blog:blog_detail" blog.slug %}">Read More &rarr;</a>
</div>
{% endfor %}

{% comment %} <main class="container">
    <div class="row">
        <div class="col-md-6 mt-3 mx-auto">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title|capfirst }}</h2>
                    <p class="card-text text-muted">{{ post.author|capfirst }} | {{ post.created_on }}</p>
                    <p class="card-text">{{ post.content|slice:":220" }}</p>
                    <a href="{% url "blog:blog_detail" post.slug %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main> {% endcomment %}
{% endblock content %}