{% extends "base.html" %}

{% block title %}{{ object.title }}| Blog{% endblock title %}

{% block navbar %} {% include "navbar.html" with is_authentiated=user.is_authenticated %} {% endblock navbar %}

{% block content %}

<h1>{{ blog.title|capfirst }}</h1>
<p>{{ blog.author|capfirst }} | {{ blog.created_on }}</p>
<p>{{ blog.content|safe }}</p>

{% comment %} <div class="container my-3">
    <div class="row">
        <div class="col-md-8 card mx-auto">
            <div class="card-body">
                <h1 class="card-title">{{ object.title }}</h1>
                <p class="text-muted">{{ post.author|capfirst }} | {{ post.created_on }}</p>
                <p class="card-text">{{ object.content|safe }}</p>
            </div>
        </div>
    </div>
  </div> {% endcomment %}
{% endblock content %}